@import '../common/styles/main';

.landing-page {
	display: flex;
	flex-flow: row nowrap;
	-ms-flex-align: start;
	align-items: flex-start;
	background-color: $dark-black;
	//overflow-x: auto;
	//width: 68.75rem;
	//width: 1127px;
	//margin-left: auto!important;
	//margin-right: auto!important;
	//height: 294px;
	display: block;
	//margin-bottom: 80px;
	//max-width: 100%!important;

	&-header {
		color: $text;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	&-publications {
		width: 1127px;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 2rem !important;
	}

	&-a {
		text-transform: uppercase;
		color: $red;
		font-size: smaller;
		cursor: pointer;

		span {
			margin-left: 0.1rem;
		}
	}

	&-scroller {
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		//background: rgba(0, 0, 0, 0.342);
		font-family: Lato;
		font-size: 14px;
		margin-top: 15px;
		width: 1127px;
		height: 300px;
		overflow-x: auto;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

.Loader {
	width: 50px;
	height: auto;
	margin: auto;
	margin-left: auto !important;
}

@media only screen and (max-width: 767px) {
	.landing-page-publications {
		width: auto !important;
		margin-left: 1em !important;
		margin-right: 1em !important;
	}

	.landing-page-scroller {
		width: auto !important;
	}
}
