@import '../../common/styles/main';

.land-card {
    display: block;
    width: 229px;
    height: 400%;
    background-color: $card-background;
    border-radius: 5px;
    margin: 5px;
    color: $text;
}
