@import '../styles/variables';

.connect-wallet {
	display: flex;
	justify-content: center;
	//position: fixed;
	margin:auto;
	flex-direction: column;
	height: inherit;
	max-width: 100%;
	max-height: 100%;
}

.circle-icon {
	display: flex;
	justify-content: center;

	.icon {
		width: 8rem;
		height: 8rem;
		margin-top: 1rem;
		border-radius: 50%;
		background-color: #2a232d;
		display: flex;
		margin-bottom: 1rem;
		justify-content: center;

		img {
			width: 4rem;
			height: auto;
		}
	}
}

.wallet-heading {
	h1 {
		font-family: 'Roboto-regular';
		font-style: normal;
		font-weight: bold;
		font-size: 2rem;
		line-height: 40px;

		/* identical to box height */

		text-align: center;
		margin-bottom: 1rem;
		color: #ffffff;
	}

	p {
		font-family: 'Roboto-regular';
		font-style: normal;
		font-weight: normal;
		font-size: 1rem;
		line-height: 21px;
		text-align: center;
		margin-bottom: 2rem;
		color: #ffffff;
	}
}

span {
	font-family: 'Roboto-regular';
	font-style: normal;
	font-weight: bold;
	font-size: 0.8rem;
	line-height: 15px;
	padding-bottom: 1rem;
	color: #ffffff;
}

.wallet-btn-parrent {
	justify-content: center;
	display: flex;

	.wallet-btn {
		margin-top: 1rem;
		width: 100% !important;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly !important;

		.connectWallet{
			margin: 0 1rem 0 1rem;
		}
		.btn-login {
			background: #18141a;
			border: 1px solid #ff0044;
			box-sizing: border-box;
			border-radius: 10px;
			width: 11rem;
			height: 3rem;
			margin-bottom: 1rem;
			display: flex;
			justify-content: center;

			a {
				img {
					width: 2rem;
					height: auto;
				}

				.portis-svg {
					width: 1rem !important;
					height: auto;
				}
				display: flex;

				p,
				p:hover {
					color: #ffffff;
					outline: none;
					font-family: 'Roboto-regular';
					font-style: normal;
					font-weight: bold;
					margin-top: 1rem;
					margin-left: 1rem;
					font-size: 1rem;
					line-height: 1rem;

					/* identical to box height */

					color: #ffffff;
				}
			}
		}
	}
}
