.connect {
	display: flex;	
	justify-content: center;
	font-family: "Roboto Thin";
	
	
	

	&-wallet{
		
		border: 1px solid black;
   		padding: 0rem !important;
   		margin-top: 1rem;
   		border-radius: 2rem;
   		width: 700px !important ;
    	height: 400px !important;
   		text-align: center;
   		background: rgb(22, 22, 22);
		.wallet-edge{

			display: flex;
			justify-content: center;
			
			.edge{
				width:8rem;
				height:8rem;
				margin-top:1rem;
				border-radius:50%;
				background-color: #2A232D;
				display: flex;
				margin-bottom: 1rem;
				justify-content: center;
				img{
					width:4rem;
					height:auto;
				}
			}
			
		}
		.wallet-text{
			h1{
				font-family: 'Roboto-regular';
				font-style: normal;
				font-weight: bold;
				font-size: 2rem;
				line-height: 40px;
				/* identical to box height */

				text-align: center;
				margin-bottom: 1rem;
				color: #FFFFFF;
			}
			p{
				font-family: 'Roboto-regular';
				font-style: normal;
				font-weight: normal;
				font-size: 1rem;
				line-height: 21px;
				text-align: center;
				margin-bottom: 2rem;
				color: #FFFFFF;
			}
		}
		span{
			font-family: 'Roboto-regular';
			font-style: normal;
			font-weight: bold;
			font-size: .8rem;
			line-height: 15px;		
			padding-bottom: 1rem;
			color: #FFFFFF;
		}

		.wallet-btn-parrent{
			justify-content: center;
			display: flex;
			.wallet-btn{
				margin-top:1rem;
				width:100% !important;
				display: flex;
				justify-content: space-evenly !important;
				div{
					background: #18141A;
					border: 1px solid #FF0044;
					box-sizing: border-box;
					border-radius: 10px;
					width:11rem;
					height:3rem;
					display: flex;
					justify-content: center;
					a{
						img{
							width:2rem;
							height:auto;
						}
						.portis-svg{
							width: 1rem !important; 
							height: auto;
						}
						display: flex;
						p, p:hover{
							color:#FFFFFF;
							outline: none;
							font-family: 'Roboto-regular';
							font-style: normal;
							font-weight: bold;
							margin-top:1rem;
							margin-left:1rem;
							font-size: 1rem;
							line-height: 1rem;
							/* identical to box height */
												
												
							color: #FFFFFF;
						}
					}
	
				}
			}
		}
	}

}
