@import './variables.scss';
@import './root.css';
@import './fonts.css';
@import './reset.css';

h1 {
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}

p {
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}

a {
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}
.button-primary {
  background-color: #f04!important;
    color: #fff;
    border: none;
    box-shadow: inset 0 0 0 0 rgba(34,36,38,.15);
    text-shadow: none;
    background-image: none;
    margin: 0 auto;
    padding: 10px 22px;
    font-size: 14px;
    border-radius: 10px;
    line-height: 1.42857143;
    border: 1px solid var(--red);
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;

    &:hover {
      box-shadow: 0 8px 30px #9f101d;
    }
}
