@import '../common/styles/main';

.Address-container {
	display: flex;
	min-height: calc(100% - var(--footer-height));
	padding-top: 30px;
	padding-bottom: 30px;
	background: $gradient;
	flex-direction: column;

	&-menu {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&-empty {
		display: flex;
		-ms-flex-pack: center;
		justify-content: center;
		font-style: italic;
	}

	&-cards {
		display: flex;
		flex-wrap: wrap;
		margin: -0.875em -0.5em;
		font-size: 1rem;
		border-radius: 0.28571429rem;
	}

	&-cards-container {
		position: relative;
		margin-top: 50px;
		min-height: 200px;
		padding: 1px;
		width: 1127px;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 2rem !important;
	}

	&-button {
		display: flex;
		margin-top: 50px;
		margin-bottom: 50px;
		position: relative;
		justify-content: center;
	}

	&-pagination {
		display: inline-block;
		margin-left: 0;
		margin-right: 0;
		text-align: center;
		border-bottom: 2px solid rgba(34, 36, 38, 0.15);
	}
}

@media only screen and (min-width: 1200px) {
	.Address-container-button {
		width: 1127px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

.item {
	color: #fff;
	border-bottom-color: transparent;
	border-bottom-style: solid;
	border-radius: 0;
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin: 0 0 -2px;
	padding: 0.85714286em 1.14285714em;
	border-bottom-width: 2px;
	-webkit-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.1s ease;
}

.menu-container {
	display: flex;
	width: 1127px;
	justify-content: space-between;
	margin-left: auto !important;
	margin-right: auto !important;

	&-item {
		display: flex;
	}
}

.menu-item {
	color: $text !important;
	font-weight: 700;
	border-bottom-style: solid;
	border-radius: 0;
	border-bottom-color: transparent;
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin: 0 0 -2px;
	padding: 0.85714286em 1.14285714em;
	border-bottom-width: 2px;
	-webkit-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.1s ease;
	cursor: pointer;
}

.active {
	border-color: $red;
	color: $red !important;
	cursor: pointer;
	border-bottom-color: $red;
	border-bottom-style: solid;
	border-radius: 0;
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin: 0 0 -2px;
	padding: 0.85714286em 1.14285714em;
	border-bottom-width: 2px;
	-webkit-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.1s ease;
}

.Address-tab {
	display: flex;
}

.react-tabs__tab--selected {
	border-color: $red;
	color: $red !important;
	cursor: pointer;
	border-bottom-color: $red;
	border-bottom-style: solid;
	border-radius: 0;
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin: 0 0 -2px;
	padding: 0.85714286em 1.14285714em;
	border-bottom-width: 2px;
	-webkit-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.5s ease;
	outline: none;
}

.react-tabs__tab--disabled {
	color: $text !important;
	font-weight: 700;
	border-bottom-style: solid;
	border-radius: 0;
	border-bottom-color: transparent;
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin: 0 0 -2px;
	padding: 0.85714286em 1.14285714em;
	border-bottom-width: 2px;
	-webkit-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.5s ease;
	outline: none;
}

.react-tabs__tab-panel {
	display: none;
	transition: all 0.5s ease;
}

.react-tabs__tab-panel--selected {
	display: block;
	transition: all 0.5s ease;
}

@media only screen and (max-width: 767px) {
	.Address-container {
		display: flex;
		flex-direction: column;
	}

	.menu-container {
		display: flex;
		flex-direction: column !important;
		width: 767px !important;
		margin-left: 1em !important;
		margin-right: 1em !important;
		//display: block;
		max-width: 100% !important;

		&-item {
			display: flex;
			flex-direction: column;
			align-content: flex-start;
		}
	}

	.menu-item {
		align-self: flex-start !important;
	}

	.Dropdown-control {
		width: 100%;
	}

	.react-tabs__tab--selected {
		border: none !important;
	}

	.Address-container-cards {
		display: flex;
		flex-direction: column;
		width: fit-content;

		&-container {
			width: fit-content;
		}
	}

	.land-card.big {
		margin-right: 0 !important;
	}
}

.Address-container-cards-container {
	position: relative;
	margin-top: 50px;
	min-height: 200px;
	padding: 1px;
	max-width: 1200px;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-bottom: 2rem !important;
}
