.NotPartOfDesign{
    position: fixed;
    background: #181319;
    z-index: 2;
   
    #NotDesign{
        
        justify-content: center;
        -webkit-box-pack: unset !important;
        text-align: center;
        max-width: 1043px;
        padding-left: 15rem;
        padding-right:15rem;
        margin: auto;
        border-radius: 10px;
        border:1px solid black;
        .NPOD{
            margin-top: 5rem;
            margin-bottom: 1rem;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 16px;
            /* identical to box height */

            text-transform: uppercase;

            color: #3E3943;

        }
        .para{
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 34px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 10rem;
            color: #FFFFFF;

            opacity: 0.4;
        }
        .btn{
            position: relative;
            
            .button{  
                display: flex;
                justify-content: center;
                margin:auto;  
                margin-bottom: 5rem;
                background: #181319;
                border: 1px solid #FF0044;
                box-sizing: border-box;
                border-radius: 10px;
                width: 116px;
                span{
    
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    width:auto;
                    font-size: 13px;
                    line-height: 50px;
                    /* identical to box height */
    
                    text-transform: uppercase;
    
                    color: #FF0044;
                }
            }
        }
        
    }
}
@media screen and (max-width: 720px){
    .NotPartOfDesign{
        overflow-y: scroll;
        position: fixed;
        height: 450px;;
    }
}