.card{
    .card-img-block{
        justify-content: center;
        display:flex;
        position:relative;
        
        .card-img{
             img{
                height:500px;
                margin-bottom: 1rem;
            }
        }
    }
    .card-details{
        .card-details-line1{
            margin-left:5rem;
            margin-bottom:3rem; 
           
            display:flex;
            flex-direction: column;
            .para-grey{
                p{
                    color:#666;
                    font-family: "Roboto-regular"
                }
            }
            div{
                margin-bottom:.3rem;
                display:flex;
                justify-content: space-between;
                .own-by{
                    div{
                        margin-right:5rem;
                        span{
                            p{
                                color:#fff !important;
                                font-size: 15px !important;
                                font-family:"Roboto-regular";
                                margin-top:.5rem;
                                margin-right: .5rem;
                            }
                            
                        }
                    }
                
                }

                div{
                    .para1{
                        color:#fff;
                        font-size: 24px;
                        font-family:"Roboto-bold";
                        margin-top:.1rem;
                        margin-right: .5rem;
                        font-weight: 500;
                    }
                    img{
                        width:30px;
                        height:30px;
                        background-color: transparent;
                        border-radius: .2rem;
                        cursor: pointer;
                    }
                    .para-img{
                        .map{
                            color: #F04;
                        }
                    }
                    p{
                        color:#f04;
                        font-size: 18px;
                        font-weight: 500;
                        margin-top:.5rem;
                        font-family: Lato;
                    }
                   
                }
               
              
            }
        }
        
    }
    .card-details-line2{
        
    .line2{
        display: flex;
        margin-left: 5rem;
        margin-top: 1rem;
        margin-left:5rem;
        justify-content: space-between;
        .line2-price{
            div{
                margin-top:1rem;
                img{ 
                    margin-right:.5rem;    
                }
                span{
                    color:#00d2ff;
                }
            }
        }
        .line2-time{
            p{
                margin-top:1rem;
                margin-bottom: 1rem;
            }
            .para-grey{
                color:#666 !important;
            }
        }
        
        .line-2-btn{
            margin-top:1rem;
            margin-right:5rem;
            display: flex;
            .btn-bid{
                a{
                    color:#f04;
                    line-height: 20px;
                }
                    cursor: pointer;
                    background: #181319;
                    border: 1px solid #FF0044;
                    color:#f04;
                    box-sizing: border-box;
                    border-radius: 10px;
                    width:auto !important;
                    height:44px !important;
                    padding:10px;
                    padding-left:15px;
                    padding-right: 15px; 
                    margin-right: 1rem;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 16px;
                    /* identical to box height */
    
                    text-transform: uppercase;
            }
            .btn-buy{
                a{
                    color: #Fff;
                    line-height: 20px;
                }
                cursor: pointer;
                    background: #FF0044;
                    border: 1px solid #F04;
                    color: #Fff;
                    box-sizing: border-box;
                    border-radius: 10px;
                    width:auto !important;
                    height:44px !important;
                    padding:10px;
                    padding-left:15px;
                    padding-right: 15px; 
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 16px;
                    /* identical to box height */
                    text-transform: uppercase;

            }
        }
    }
}
.highlight{
    h1{
        color: #Fff;
        font-size: 1.2rem;
        margin-left:5rem;
        margin-bottom: 1rem;
        margin-top: 2rem;

    }
    .high{
        display: flex;
        margin-left:5rem;
       

        div{
            display:flex;
            margin-right: 2rem;
            margin-bottom: 2rem;
            
            img{
                width:50px;
                background-color: #fff;
                border-radius: .3rem;
            }
            span{
                margin: .5rem;
                .text-2{
                    padding-top: .4rem;
                    color: #666;
                }
            }
        }
        
        
    }
}
.card-details-line3{
    margin-top:3rem;
    .trans-p{
        margin-bottom: 1rem;
        font-size:1.2rem;
        margin-left:5rem;
       
    }
    .tran-parrent{
        display:flex;
        justify-content: center;
        .tran-container{
            display: flex;
            background-color:rgb(49, 48, 48);
            width:100%;
            margin-left: 5rem;
            margin-bottom: 2rem;
            padding:1rem;
            border-radius: .5rem;
            margin-right: 5rem;
            justify-content: space-between;
            border: 1px solid transparent;
            .price{
               p{
                   margin-top:2rem;
                   color:#00d2ff;
               }
               span{
                   color:#666;
               }
            }
            .when{
                p{
                    margin-top:2rem;
                }
                span{
                    color:#666;
                }
             }
             .from{
                p{
                    margin-top:2rem;
                    
                }
                span{
                    color:#666;
                }
             }
            .to{
                span{
                    color:#666;
                }
                div{
                    margin-top:2rem;
                    display: flex;
                    img{
                        width:30px;
                        margin-right:1rem;
                    }
                    p{
                        color:#f04;
                        margin-top:.3rem;
                    }
                }
            }
    
        }
    }
    

    
}
}

@media screen and (max-width: 720px){
    .card-details-line1{
        margin-left: 1rem !important;
        margin-right:1rem !important;
        div{
            justify-content: start !important;
        }
        .line-1-div{
            .para-img{
                width:auto;
            }
            display: flex;
            flex-direction: column;

        }
        .own-by{
            p{
                color: #666;
            }
           
        }
        .para1{
            display: none;
        }
        .para-grey{
            display: none;
        }
    }
    .card-details-line2{
        .line2{
            flex-direction: column;
            margin-left: 1rem !important;
            margin-right: 1rem !important;
            .line-2-btn{
                margin-right: 0rem !important;
                flex-direction: column;
                .btn-bid{
                    text-align: center;
                    margin-right: 0 !important;
                    margin-bottom: 1rem;
                }     
                .btn-buy{
                    text-align: center;
                }   
            }
        }
    }
    .highlight{
        h1{
            margin-left:1rem !important;
        }
        .high{
            margin-left: 1rem !important; 
            flex-flow: column;
        }
    }
    .trans-p{
            margin-left: 1rem !important;
    }
    .tran-container{
        
        margin-left:1rem !important;
        margin-right:1rem !important;
        .to{
            display:none;
        }
        .from{
            display :none;
        }
    }
}