// #Header-page {
//   height: 5rem;
//   width: 100%;
//   display: flex;
// }
// .Header-main {
//   background-image: url(../common/assets/images/wave-background.png);
//   //background-image: url(/static/media/homepage.23b10a0a.png);
//   background-position: 50%;
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: .3;
//   display:flex;
//   height:20rem;
//   -webkit-box-shadow: -20px -20px 41px 2px inset;
//   box-shadow: inset -20px -20px 41px 2px;
// }
//@import '../common/styles/variables.scss';

.Header-main {
  background-image: url(../common/assets/images/wave-background.png);
  height: calc(100vh - 440px);
  top: calc(0px - 94px);
  left: 0;
  right: 0;
  min-height: 200px;
  & img {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
    background-color: rgba(20, 20, 20, 0.726);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
  }

  & a {
    color: #f04;
  }
}

.Header-Heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;


  &-light {
    text-align: center;
    color: #fff;
    min-height: 1rem;
    font-size: 2rem;
    margin: calc(2rem - .14285714em) 0 1rem;
  }

  &-dark {
    text-align: center;
    color: #676370;
    margin-bottom: 30px;
    font-size: 16px;
  }

  &-link {
    margin-top: 24px;
  }
}
