@import '../common/styles/main';

.Navigation {
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-align: center;
  align-items: center;
  height: 94px;
  -ms-flex-pack: center;
  justify-content: left;
  padding: 0 25px;
  background-color: $nav-black;

  &-logo {
    height: 56px;
    width: 56px;
    opacity: 1 !important;
    background-color:transparent !important;
    //margin:22px 10px;

    &::selection {
      background-color:
        #fff;
      color:
        rgba(0, 0, 0, .87);
    }
  }
}

