@import "..//..//components/common/styles/main.scss";
.colorheading
{
    color:var(--color-dull-white);
    font-family: Lato;
    margin-right: 30%;
    font-size:28px;
    padding-top: 15px;
}
.colorKey{
    text-align: center;
    margin-left: 23%;
    
    @media screen and (max-width: 992px) {
        .colorKey{
               text-align: center;
               margin-left: 10%;
        }
       }

    @media screen and (max-width: 1337px) {
        .colorKey{
               text-align: center;
               margin-left: 23%;
        }
    }
    @media screen and (max-width: 600px) {
       .colorKey{

       margin-left: 0%;
       }
   }
    .colorKey-box{
        background-color: rgba(0, 0, 0, 0.342);
        text-align: center;
        width:770px;
        height:208px;
        margin:26px 0px;
        padding: 35px 0px 20px 85px;
        border: 1px solid rgba(0, 0, 0, 0.342);
        border-radius: 0.5rem;
        div{
            display: flex;
            color: #ffffff;
            p{
                padding: 0 0 0 8px;
                margin: 5px 0 0 ;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size:14px;
            }    
          
        }

        .colorKey-box-row{
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding-bottom: 15px;
            flex-wrap: wrap;
            flex: 1;

            .colorKey-box-row-col11{
                .colorKey-box-row-col11-c1{
                    background-color: #ff9990;
                    width:32px;
                    height: 32px;
                    border: 1px solid #666;
                }
            }
            .colorKey-box-row-col12{
                 margin-left: 9px;
                 width:auto;
                .colorKey-box-row-col12-c2{
                    background-color: #ff4053;  
                    width:32px;
                    height: 32px;
                    border: 1px solid #666;
                }
            }
            .colorKey-box-row-col13{
                margin-right:150px;
                .colorKey-box-row-col13-c3{
                    background-color: #3d3a46;
                    width:32px;
                    height: 32px;
                    border: 1px solid #666;
                }
            }
            
            .colorKey-box-row-col21{
                
                .colorKey-box-row-col21-c1{
                    background-color: #5054d4;
                    width:32px;
                    height: 32px;
                    border: 1px solid #666;
                }
            }
            .colorKey-box-row-col22{
                .colorKey-box-row-col22-c2{
                    background-color: #4a27d4;
                    width:32px;
                    height: 32px;
                    border: 1px solid #666;
                }
            }
            .colorKey-box-row-col23{
                margin-right:150px;
                .colorKey-box-row-col23-c3{
                    background-color: #716c7a;
                    width:32px;
                    height: 32px;
                    border: 1px solid #666;
                }
            }
            
            .colorKey-box-row-col31{
                .colorKey-box-row-col31-c1{
                    background-color: #70ac76;
                    width:32px;
                    height: 32px;
                    border: 1px solid #666;
                }
            }
            .colorKey-box-row-col32{
                margin-right:8px;
                .colorKey-box-row-col32-c2{
                    background-color: #09080a;
                    width:32px;
                    height: 32px;
                    border: 1px solid #666;
                }
            }
            .colorKey-box-row-col33{
                margin-right:120px;
                padding-right: 22px;
                .colorKey-box-row-col33-c3{
                    background-color: #00d3ff;
                    width:32px;
                    height: 32px;
                    border: 1px solid #666;
                }
            }             
        }    
    }
}

