
.main{
    
    position: fixed;
    display: flex;
    margin: auto;
    justify-content: center;
    z-index: 2;
    overflow-y: scroll;
    background: #18141A;
    height: auto;
    border-radius: 1rem;
    border: 1px solid black;
    
    .addfund{
    justify-content: center;
    max-width: 669px;
    max-height: 34rem;;
    margin-top: 0%;
    margin-bottom: 0rem;
    padding-left: 52px;
    left: 0%;
    padding-right: 44px;
    border-radius: 1rem;
    
        .caution{
            cursor: pointer;
            display: flex;
            margin-top:1rem;
            padding: 1rem;
            background: black;
            border:1px solid black;
            border-radius: .5rem;
            .caution-img{
                img{
                    max-width:75px;
                    margin-right: 1rem;
                    margin-left:1rem;

                }
            }
            .caution-content{
                .unauthorised{
                    font-family: "Roboto-regular";
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 21px;
                    margin-bottom: .5rem;
                    span{
                        color: #FF0044;
                    }
                }
                .para{
                    span{
                        color: #FF0044;
                    }
                    color:#666;
                    font-family: "Roboto-regular";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 22px;
                }
                
            }
        }
        &-heading{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            margin-top:1rem;
            font-size: 34px;
            line-height: 40px;
            /* identical to box height */
            color: #FFFFFF;
        }
        &-balance{
            &-1{
                display: flex;
                flex-wrap: wrap;
                span{
                    display:flex;
                    margin-bottom: 1rem;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 0;
                    text-transform: uppercase;
                    opacity: 1 ;
                    color: #00D2FF;
                    img{
                        margin-top: -.5rem;
                        margin-left:.3rem;
                    }
                    p{
                        margin-left:.3rem;
                        margin-right:.3rem;
                    }
                }
                padding-top: 1rem;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 0;
                /* identical to box height */
                
                
                color: #666;
                
                mix-blend-mode: normal;
                opacity: 1;
                
            }
        }
        &-amt, &-gas{
            padding-top: 2rem;
            padding-bottom:1rem; 
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 0;
            /* identical to box height */


            color: #666;

            mix-blend-mode: normal;
            opacity: 1;
        }
        &-amt{
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        &-amtval{
            display: flex;
            justify-content: space-between;
            &-div{
                display: flex;
                
                p{
                    input, input:hover{
                        background-color:transparent;
                        color:#00D2FF;
                        border: none;
                        border:transparent;
                        outline: none;
                        max-width:550px;
                        box-shadow: none
                    }
                    padding-left: .5rem;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    /* identical to box height */


                    color: #FFFFFF;

                    mix-blend-mode: normal;
                    opacity: 0.8;
                }
            }
            &-max{
                a, a:hover{
                    font-family: Lato;
                    font-style: normal;
                    cursor: pointer;

                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    /* identical to box height */

                    text-transform: uppercase;

                    color: #FF0044;

                }
                
            }

        }
        &-hr{
            margin-top:1.2rem;
            border: 1px solid #262328;
        }
        &-btn{
            margin-top: 1rem;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: wrap;
            margin-left:-17px;
            .btn-button{
                background: #262328;
                border: 1px solid #262328;
                margin-bottom: 2rem;
                box-sizing: border-box;
                border-radius: 10px;
                margin-left:1rem;
                width:auto;
                height: 40px;
                cursor: pointer;
                p{
                    font-family: Lato;
                    padding:1rem;
                    padding-top:.7rem;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    text-transform: uppercase;                 
                    color: #FFFFFF;
                    opacity: 0.4;

                }
                p:hover{
                    opacity: 1;
                }
            }
        }
        &-sub{
            padding-bottom: 2rem;
            cursor: pointer;
            .sub-cancel{
                cursor: pointer;
                background: #181319;
                border: 1px solid #FF0044;
                box-sizing: border-box;
                border-radius: 10px;
                max-width:82px !important;
                height:44px !important;
                padding:13px;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                /* identical to box height */

                text-transform: uppercase;

                color: #FF0044;

            }
            .sub-submit{
                cursor: pointer;
                background: #EB334B;
                border: 1px solid #EB334B;
                box-sizing: border-box;
                border-radius: 10px;
                padding:13px;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                max-width:81px;
                margin-left: 1rem;
                height: 44px;
                /* identical to box height */

                text-transform: uppercase;

                color: #FFFFFF;

            }
        }

    }
}